body{

    font-family: sans-serif;
    background:linear-gradient(#8C3061 ,#59ec92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app{
    text-align: center;
    background-color: white;
    padding: 30px 40px;
    border-radius: 13px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.01);
    width: 340px;
}
.title{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.card{
    margin: 40px 30px;

}
.btn{
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    transition: all .5s;

}
.btn:hover{
    background-color: #114ab4;

}
.quote{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;

}
.author{
    font-size: 15px;
    color: #333333;
}